@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 15px;
  font-family: "Oxygen", sans-serif;
  background-color: lemonchiffon;
}

.search-container {
  padding: 33px 36px 0px 36px;
  position: relative;
  margin-bottom: 40px;
}

#search {
  width: 100%;
  padding: 9px 25px 9px 40px;
  border-radius: 16.5px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

.search-icon {
  opacity: 0.5;
  position: absolute;
  top: 45px;
  left: 53px;
  height: 20px;
}

#search::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #8a8e9d;
}

.search-clear-button {
  position: absolute;
  right: 42px;
  top: 36px;
  bottom: 3px;
  border: 0;
  background: none;
  color: #141c3a;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.clear {
    height: 20px;
}

.stock {
  padding: 16px 13px 16px 14px;
  border-radius: 6px;
  border: solid 1px #141c3a;
  background-color: none;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.stock:hover,
.stock:focus,
.stock:focus-within {
  background: #141c3a;
  color: #ffffff;
}

.stock:hover > .favorite-button,
.stock:focus > .favorite-button,
.stock:focus-within > .favorite-button {
  display: flex;
}

.stock-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.stocks-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.stock-container {
  grid-row-start: 1;
  grid-column-start: 1;
}

.favorite-button {
  padding: 5px 7px;
  border-radius: 4px;
  background-color: #efd9ca;
  font-weight: bold;
  color: #141c3a;
  font-size: 12px;
  border: none;
  cursor: pointer;
  display: none;
  align-items: center;
  grid-row-start: 1;
  grid-column-start: 1;
  margin: auto;
  z-index: 1;
}

.image-container {
  width: 100%;
  height: 72px;
  overflow: hidden;
}
